:root {
    --primary-color: #19123c;
    --secondary-color: #f34286;
    --third-color: #367be1;
}

@font-face {
    font-family: dragon;
    src: url(assets/DragonHunter-9Ynxj.otf);
}

body {
    padding: 0;
    margin: 0;
    display: grid;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    grid-template: 0.5fr 2fr 0.5fr / 1fr 1fr 1fr;
    grid-template-areas:
        "head head head"
        "main main main"
        "footer footer footer";
    min-height: 100vh;
}

#detail-body {
    grid-template-rows: 0.5fr 1fr 0.5fr;
}

header {
    background-image: url(img/the_show_room.png);
    background-position: right;
    color: white;
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    background-size: contain;
    /* background-clip: padding-box; */
    grid-area: head;
    display: grid;
    grid-template: min-content auto min-content / repeat(3, 1fr);
    grid-template-areas:
        "fav . ."
        ". search ."
        "nav nav .";
    padding: 0.8%;
}

main {
    grid-area: main;
    padding: 1% 2% 0;
    height: 50em;
}

footer {
    grid-area: footer;
    position: relative;
}

#title {
    grid-area: title;
}

nav {
    grid-area: nav;
    align-self: self-end;
    font-size: 1.2em;
}

#fav {
    grid-area: fav;
    justify-self: left;
    /* align-self: center; */
    font-size: 1.5em;
    display: flex;
    justify-content: space-around;
    width: 25%;
}

#fav .favorites {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

#fav .favorites i {
    grid-column: 1/3;
    grid-row: 1/2;
    justify-content: center;
    padding-top: 5%;
}

#fav .favorites .counter {
    grid-column: 2/4;
    grid-row: 1/2;
    background-color: var(--third-color);
    color: white;
    width: 75%;
    font-size: 0.7em;
    justify-self: right;
    border-radius: 50%;
    text-align: center;
    border-style: solid;
    align-self: self-start;
    height: 70%;
    border-color: var(--secondary-color);
}

#title:hover {
    cursor: pointer;
}

nav ul {
    list-style: none;
    background-color: var(--primary-color);
}

nav ul li {
    /* display: flex; */
}

.menu {
    display: flex;
    justify-content: space-around;
}

.menu>li:hover>.subMenu {
    display: grid;
    z-index: 1000;
    position: absolute;
}

.menu>li {
    width: 100%;
}

.menu>li:hover {
    position: relative;
}

.genre {
    display: none;
    /* left: 2%; */
}

.menu ul {
    border-radius: 0 0 5px 5px;
    padding: 1% 0 0 1%;
}

.menu>li:hover,
.menu ul>li:hover,
.fa-solid:hover {
    cursor: pointer;
}

.menu>li:hover>span,
.menu ul>li:hover>:where(span, a),
.fa-solid:hover {
    color: #f53d8a;
}



.subMenu {
    position: fixed;
    display: none;
    margin: 0;
}

.subMenu>li {
    display: grid;
    height: 2em;
    grid-template-columns: 1fr 1fr;
}

/* .subMenu li span {
    width: 100%;
    align-self: center;
} */

.subMenu>li a {
    /* margin-left: 0.5em; */
    text-decoration: none;
    color: white;
}

.subMenu>li>ul>li:nth-child(even) {
    background-color: #433395;
}

.subMenu>li:hover>ul {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 60%; */
    padding: 0 1%;
    grid-column: 2/3;
}

.container-cards {
    /* margin: 1% auto; */
    overflow: hidden;
    /* width: 95%; */
    background-color: var(--third-color);
    border-radius: 5px;
    height: fit-content;
}

.container-cards .fa-solid {
    color: var(--secondary-color);
}

#rated-tv {
    background-color: var(--secondary-color);
}

#rated-tv .fa-solid {
    color: var(--third-color);
}

.carousel {
    height: 25em;
    align-items: center;
    display: flex;
    column-gap: 1em;
    transition: transform 0.5s ease-in-out;
}

.card {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    height: 91%;
    width: 10em;
}

.card:hover {
    transform: scale(1.1);
    cursor: pointer;
}


.card img {
    /* flex: 5em; */
    height: 15em;
    border-radius: 5px;
    object-fit: contain;
}

@keyframes slide {
    0% {
        transform: translateX(2%);
    }

    100% {
        transform: translateX(-145%);
    }
}

.img-show {
    position: relative;
    opacity: 0.8;
}

.img-show i {
    position: absolute;
    color: var(--third-color);
    text-shadow: -1px 0 3px #c41919, 0 1px 6px #E91E63, 1px 0 6px #E91E63, 1px 0px 4px #000;
    top: 2%;
    right: 3%;
    font-size: 1.5em;
}


.img-show i:hover {
    color: var(--primary-color);
}

.carousel.animated {
    animation: slide 30s infinite;
}

.container-cards:hover .animated {
    animation-play-state: paused;
}

.card-genres {
    margin: 0.2em 0 0.5em;
    height: 30%;
    font-style: italic;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title-element,
.date-release {
    margin: 0;
    height: 1em;

}

.title-element {
    height: 100%;
}

.date-release {
    opacity: 0.5;
}


.btn-multi {
    position: fixed;
    z-index: 999;
    right: 2%;
    bottom: 3%;
}

.btn {
    display: inline-flex;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    padding: 8px 20px;
    font-size: 14px;
    background-color: var(--primary-color);
    border-radius: 2px;
    color: white;
    text-transform: uppercase;
    border: none;
    transition: all 0.2s ease-in;
    background-position: 50%;
    outline: none !important;

    &.btn-circle {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        padding: 0 !important;
        font-size: 18px;
    }
}


.btn-multi {
    input {
        display: none;

        &:not(:checked) {
            ~label {
                transform: rotate(0.1deg);

                .btn {
                    border-radius: 0;
                    height: 30px;
                    width: 30px;
                    box-shadow: none;

                    &:first-child {
                        border-top-left-radius: 100%;
                        transform: translate(25px, 25px);
                    }

                    &:nth-child(2) {
                        border-top-right-radius: 100%;
                        transform: translate(55px, 25px);
                    }

                    &:nth-child(3) {
                        border-bottom-left-radius: 100%;
                        transform: translate(25px, 55px);
                    }

                    &:nth-child(4) {
                        border-bottom-right-radius: 100%;
                        transform: translate(55px, 55px);
                    }

                    .icon {
                        opacity: 0;
                    }
                }

                >.icon {
                    opacity: 1;
                    cursor: pointer;
                }
            }
        }
    }

    label {
        position: relative;
        height: 110px;
        width: 110px;
        display: block;
        transform: rotate(45deg);
        transition: all .2s ease-in;
        cursor: default;
        border-radius: 30px;

        .btn {
            position: absolute;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

            &:nth-child(2) {
                transform: translate(60px, 0);
            }

            &:nth-child(3) {
                transform: translate(0, 60px);
            }

            &:nth-child(4) {
                transform: translate(60px, 60px);
            }

            .icon {
                opacity: 1;
                transition: all .15s ease-in-out;
                transform: rotate(-45deg);
            }
        }

        >.icon {
            color: white;
            position: absolute;
            border-radius: 50%;
            display: flex;
            font-size: 30px;
            align-items: center;
            justify-content: center;
            height: 60px;
            width: 60px;
            top: 25px;
            left: 25px;
            opacity: 0;
            transition: all .25s ease-in-out;
        }

        .icon {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }
    }
}

.container-detail {
    display: grid;
    grid-template-areas: "img detail detail"
        "img detail detail";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    place-content: center;
}

.container-detail .img-entertainment {
    grid-area: img;
    place-content: center;
    text-align: center;
}

.container-detail .img-entertainment img {
    border-radius: 5px;
}

.container-detail .detail {
    grid-area: detail;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container-detail .detail .card-genres {
    height: inherit;
}

.search__container {
    grid-area: search;
    align-self: center;
}

.search__input {
    width: 100%;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: var(--primary-color);
    background-color: white;
    /*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid var(--secondary-color);
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;

    &::placeholder {
        color: color(var(--secondary-color) a(0.8));
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }

    &:hover,
    &:focus {
        padding: 12px 0;
        outline: 0;
        border: 1px solid transparent;
        border-bottom: 1px solid #575756;
        border-radius: 0;
        background-position: 100% center;
    }
}

#login {
    position: relative;

    &:hover .popUpLogin {
        display: block;
    }

}

.popUpLogin {
    position: absolute;
    z-index: 1000;
    display: none;
    background-color: white;
    color: var(--primary-color);
    border-radius: 5px;
    padding: 1em;

    &>a,
    & p {
        font-size: 0.5em;
    }

    & h4 {
        margin: 0;
    }

    & input {
        border-radius: 4px;
        border-style: outset;
    }

    & #btn-login {
        border-radius: 5px;
        border-style: none;
        background-color: var(--third-color);
        color: white;

        &:hover {
            cursor: pointer;
            border-style: solid;
            border-color: var(--third-color);
            background-color: white;
            color: var(--third-color);
        }
    }
}

#body-register {
    grid-template-rows: 0.4fr 1fr auto;
}

#main-register {
    padding-top: 3%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: column;
    color: white;
    text-shadow: #1c2a4b;
    align-items: center;
    justify-content: top;
    height: inherit;
    /* animation: fadeIn 2s ease-in-out; */
    background: linear-gradient(#00000080, #c08ec483, #352736), url(img/register_bg.webp);
    /* background-color: linear-gradient(#6c4f6e, #00000080); */
    /* background-color: #c790cb81; */
    /* Image and overlay */
    background-size: contain;
    /* background-repeat: no-repeat; */
    /* background-blend-mode: multiply; */
    /* background-size: 99.9% 100%; */
    /* Cover the entire background */
    background-position: top;
    /* animation: gradientShift 10s linear infinite; */

    /* &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
    } */

    & h2 {
        margin-bottom: 0;
    }

}

#register-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1%;
    gap: 3% 1%;
    /* flex-direction: column; */
    animation: zoomIn 2s ease-in-out;
    /* width: 30%; */
    /* justify-content: space-around; */
    min-height: 15em;
    max-height: 100%;
    /* background-color: var(--primary-color); */

    & .field-form {
        display: grid;
        height: fit-content;

        & input {
            height: 1.5em;
        }

        & img {
            width: 5em;
            text-align: center;
            border-radius: 5px;
        }
    }

    & .img-profile {
        display: flex;
        gap: 1em;
        align-items: center;

        & i {
            background-color: var(--primary-color);
            width: 2em;
            height: 1.5em;
            border-radius: 50%;
            text-align: center;
            padding-top: 5%;
        }
    }

    & #profile_image {
        display: none;
    }

    & button {
        grid-column: 2 span;
        width: 50%;
        justify-self: center;
        border-radius: 5px;
        color: white;
        border-style: none;
        height: 2em;
        background-color: var(--primary-color);

        &:hover {
            cursor: pointer;
            color: var(--primary-color);
            border-style: solid;
            border-color: var(--primary-color);
            background-color: white;
        }
    }

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.error-password {
    color: red;
    font-size: smaller;
    display: none;
}


.error-password.show {
    display: block;
}